.chapterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chapterHeader {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  gap: 10px;

  .icon {
    font-size: 20px;
    background-color: #fff;
    color: #f28076;
    border: #fff 1px solid;
    cursor: pointer;
  }

  .navButton {
    background-color: #3376bc;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: #5d76e9;
    }
  }
}

.chapterInfo {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 10px;

  .chapterSelect {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;

    &:hover {
      border-color: #adb5bd;
    }
  }
}

.followButton {
  background-color: #01877e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #037e5f;
  }

  svg {
    font-size: 18px;
  }
}

.chapterContent {
  display: block;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chapterImage {
  width: 820px;
  height: auto;
}
