.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #3aafa9;
  color: #2c3e50;

  h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 0 0 -10px;
  }
}

.mainWrapper {
  display: flex;
  flex-direction: row; /* Đặt chiều ngang cho main content và sidebar */
  gap: 20px; /* Khoảng cách giữa main content và sidebar */
  margin-bottom: 20px; /* Khoảng cách dưới cùng */
}

.mainContent {
  flex: 2; /* Chiếm 2 phần không gian */
  max-width: 800px; /* Giới hạn chiều rộng tối đa của main content */
}

.sidebar {
  flex: 1; /* Chiếm 1 phần không gian */
  max-width: 380px; /* Giới hạn chiều rộng tối đa của sidebar */
  row-gap: 20px; /* Khoảng cách trên cùng */
  display: flex;
  flex-direction: column; /* Đặt chiều dọc cho sidebar */
}
